.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    padding: 18px 70px 18px;
}
  
.header__logo:hover {
    cursor: pointer;
    opacity: .7;
    transition: .2s ease-in;
}
  
.header__burger {
    display: none;
}
  
@media (max-width: 768px) {
    .header {
      padding: 18px 30px 18px;
    }
  
    .header__burger {
      display: block;
      background: url("../../images/burger.svg") no-repeat;
      width: 44px;
      height: 44px;
      padding: 0;
      border: none;
    }
  
    .header__burger:hover {
      opacity: .7;
      cursor: pointer;
      transition: .2s ease-in;
    }
}
  
@media (max-width: 425px) {
    .header {
      padding: 18px 14px 18px;
    }
  
    .header__burger {
      width: 40px;
      height: 43px;
    }
}
