.field {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: flex-end;
  border-bottom: 1px solid #424242;
  padding-bottom: 11px;
}

.field:last-child {
  border-bottom: none;
}

.input-label {
  line-height: 13px;
  font-weight: 500;
  font-size: 11px;
  position: relative;
  cursor: text;
  color: #424242;
  padding-top: 18px;
}

.input {
  color: #fff;
  font-size: 11px;
  text-align: right;
  font-weight: 400;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

.input::placeholder {
  font-style: italic;
  padding-right: 3px;
}

.input_error {
  color: #EE3465;
}

.input__error-message {
  text-align: center;
  font: 400 10px/1 sans-serif;
  color: #EE3465;
  grid-column: span 2;
  min-height: 11px;
  margin-top: 11px;
  white-space: nowrap;
}

