.page {
    font-family: "Inter", "Arial", sans-serif;
    background-color: #202020;
    box-sizing: border-box;
    margin: 0 auto;
    min-height: 100vh;
}
  
.sticky-content {
    flex: 1 0 auto;
}