.aboutProject {
  padding: 111px 1px;
}

.aboutProject-info {
  display: flex;
  margin: 71px 0 0;
  gap: 42px;
}

.aboutProject-title {
  font: 20px/1.25 -0.8px;
  font-weight: 400;
  margin: 2px;
  padding: 2px 0;
}

.aboutProject-text {
  margin: 26px 1px 1px;
  font-size: 14px;
  line-height: 1.43;
}

.aboutProject-time {
  margin: 110px 0 0;
  display: grid;
  gap: 15px 0;
  grid-template-columns: 1fr 4fr;
}

.aboutProject-header {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 36px;
  background-color: #303030;
  font-size: 14px;
}

.aboutProject-side {
  font: 500 14px/1.21 sans-serif;
  text-align: center;
  color: #8B8B8B;
  margin: 0;
}
