.form-input {
  display: flex;
  flex-direction: column;
}

.form-input__label {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8B8B8B;
  margin-bottom: 5px;
}

.form-input__input {
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  padding: 0 0 10px;
  border-bottom: 1px solid #424242;
  color: #fff;
}

.form-input__input:focus {
  border-bottom: 1px solid #4285F4;
}

.form-input__input_error {
  color: #EE3465;
  border-bottom: 1px solid #EE3465;
}

.form-input__input_error:focus {
  border-bottom: 1px solid #EE3465;
}

.form-input__error-message {
  font-size: 10px;
  line-height: normal;
  font-weight: 400;
  color: #EE3465;
  margin-top: 6px;
  height: 12px;
}