.footer {
  box-sizing: border-box;
  padding: 71px 0 22px;
  margin: auto 0;
  flex-shrink: 0;
  width: 100%;
}

.footer__title {
  border-bottom: 1px solid #424242;
  color: #8B8B8B;
  font: 300 13px sans-serif;
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
}

.footer__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 22px 0;
  border-bottom: 1px solid rgba(66,66,66,.0.3);
}

.footer__year {
  font-size: 13px;
  margin: 0;
  padding: 0;
}

.footer__link {
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  text-decoration: none;
}

.footer__link:hover {
  transition: opacity 0.5s ease-in-out;
  opacity: 0.7;
}

.footer__links {
  margin: 2px;
  display: flex;
  gap: 20px;
  list-style: none;
}

@media (max-width: 760px) {
  .footer__links {
    align-items: center;
    gap: 8px;
  }

  .footer__container {
    margin-top: 28px;
  }

  .footer__link .footer__year  {
    font-size: 12px;
  }

  .footer__year {
    color: #8B8B8B;
    margin-top: 30px;
  }
}
