.aboutMe {
  padding: 104px 0 104px;
}

.aboutMe-info {
  max-width: 600px;
  margin-bottom: 11px;
}

.aboutMe-container {
  display: flex;
  margin: 67px 0 0;
  justify-content: space-between;
}

.aboutMe-name {
  margin: 0;
  font-size: 50px;
  line-height: 116%;
  font-weight: 400;
  letter-spacing: -2px;
}

.aboutMe-text {
  margin: 25px 0 99px;
  font-size: 14px;
  line-height: 157%;
}

.aboutMe-status {
  margin: 17px 0 0;
  font-size: 18px;
  line-height: 111%;
  font-weight: 500;
}

.aboutMe-photo {
  height: 327px;
  width: 270px;
  object-fit: cover;
  border-radius: 10px;
}

.aboutMe-link {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.5s ease, box-shadow 0.5s ease, transform 0.5s ease;
}

.aboutMe-link:hover {
  opacity: 0.7;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
  font-size: 16px;
}

