.navtab {
  margin-left: auto;
}

.navtab-list {
  display: flex;
  gap: 30px;
  margin: 2px;
  padding: 2px;
  list-style: none;
}

.navtab-link, .navtab-signin {
  font: 500 12px/1.33 sans-serif;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
}

.navtab-link:hover {
  opacity: 0.7;
  transform: scale(1.1); 
}

.navtab-signin {
  background-color: #3DDC84;
  color: black;
  padding: 8px 20px;
  border-radius: 3px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@media screen and (max-width: 370px) {
  .navtab-list {
    gap: 14px;
  }
  .navtab-signin {
    padding: 5px 12px;
  }
  .navtab-link {
    font-size: 10px;
  }
}

