.notFound__container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.notFound__title {
  font-size: 140px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}

.notFound__text {
  margin-top: 0;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 184px;
}

.notFound__button {
  font-size: 14px;
  font-weight: 400;
  color: #4285F4;
  cursor: pointer;
  line-height: 17px;
  text-decoration: none;
}

.notFound__button:hover {
  opacity: 0.7;
  transform: scale(1);
}

@media (max-width: 480px) {
  .notFound__text {
    margin-top: 10px;
    font-size: 12px;
  }
  .notFound__button {
    font-size: 12px;
    margin-top: 284px;
  }
  .notFound__title {
    font-size: 80px;
  }
}
